{% extends "./common/layout.html" %}

{% block head %}

    <link rel="stylesheet" href="/public/home/css/index.css"/>

{% endblock %}

{% block content %}
    
    <div class="container">
        <div class="index-content form">
            <div class="form-inline">
                <label class="form-inline__label">网址：</label><input id="webInput" class="input form-inline__input" type="text" value="" placeholder="请输入网址"/>
            </div>
            <div class="form-inline">
                <label class="form-inline__label"></label>
                <button class="button primary" onclick="getData(1)">获取页面截图</button>
                <button class="button primary ml-sm" onclick="getData(2)">获取PDF</button>
                <button class="button primary ml-sm" onclick="getData(3)">测试</button>
                <button class="button defult ml-sm" onclick="reset()">重置</button>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}

    <script type="text/javascript">
        function getData(type){
            var $webInput = $('#webInput');
            var value = $webInput.val();
            if(value && value !== ''){
                console.log('开始获取数据');

                $.ajax({
                    type:'GET',
                    url: `/spider/${type}?web=${value}`,
                    success: function(res) {
                       console.log(res);

                        if(res.code == 200){
                            console.log('数据获取结束');
                        }
                        else{
                            alert(res.msg);
                        }
                    },
                    error: function(err){
                       console.log('数据获取出错:', err);
                    }
                });
            }
            else{
                alert('请输入网址');
            }
        }

        function reset(){
            $('#webInput').val('');
        }
    </script>

{% endblock %}